@media (max-width:768px) {
    .burger {
        display: flex;
    }
    .navbar-links {
        display: none;

    }
    .header-wraper {
        flex-direction: column;        
    }
    .navbar-links ul {
        position: absolute;
        top: 0;
        left: 0;
        background-color: lightcoral;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    /* .navbar-links ul {
        flex-direction: column;
        align-items: center;
        margin-top: 70%;
        justify-content: center;
    } */
    .navbar-links.activeNavigation {
        display: block;
        height: 100vh;
        background-color: lightcoral;
        
    }
    .links {
        font-size: 30px;
        font-weight:700;
        color: #229954;
    }
    .nav-li {
        padding: 30px;
    }
    /* .bar1.active {
        transform: translate(-50%, -50%) rotate(45deg);   
    }
    .bar2.active {
        display: none;
    }
    .bar3.active {
        transform: translate(-50%, -50%) rotate(-45deg);
    } */
}