@media (max-width:768px) {
    .burger {
        display: flex;
    }
    .navbar-links {
        display: none;
    }
    .header-wraper {
        flex-direction: column;
        
    }
    .navbar-links ul {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        justify-content: center;
    }
    .navbar-links.activeNavigation {
        display: block;
    }
}