.header-wraper {
    background-color: cadetblue;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo {
    font-size: 30px;
    color: #229954;
}
.navbar-links ul {
    display: flex;
}
.navbar-links ul li {
    margin: 5px;
}
.navbar-links {
    font-size: 18px;
}

.burger {
    max-width: 50px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 20px;
    display: none;
    

}
.burger span {
    width: 100%;
    height: 2px;
    background-color: aliceblue;
    margin-top: 15px;
    transform: translate(-50%, -50%) rotate(0); 
    transition: all 0.3s linear; 
    position: absolute;
    /* top: 50%;
    left: 50%; */
}
.bar1 {
    top: 30%;
}
.bar3 {
    top: 70%;
}

.active .bar1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}  
.active .bar2 {
    display: none
}
.active .bar3 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}